# Ejercios extras relacionados con el desarrollo de software, la programación competiviva y demas.

El subtitulo marca el inicio de un nuevo codigo, una discula por la falta de o mala documentacion, pronto se resolvera :D.

## Mayúscula solo al inico

Se necesita hacer una función que al ingresar una cadena de texto devuelva la misma cadena pero que cada palabra inicie en mayúscula

In [2]:
def strToUpperCase(texto):
  texto_convertido = []
  palabras = texto.split(" ")
  for i in palabras:
    upper = i
    upper = upper.capitalize()
    texto_convertido.append(upper)
  resultado = " ".join(texto_convertido)
  return resultado

comprobamos su funcionamiento

In [3]:
print(strToUpperCase("hola mundo como estan todas las personas"))

Hola Mundo Como Estan Todas Las Personas

## ¿Es un triangulo?

Se necesita una funcion en la cual se ingrese un arreglo de numeros enteros y positivos, el cual regrese una lista de longitud 'len(arreglo)-2' con un 0 si es imposible hacer un triangulo y un 1 si es posible formar un triango.

El bloque de 3 debe recorrerse con cada iteración y no debe mostrar ningun error

In [5]:
def solution(arr):
    size = len(arr)
    integers = []
    length = 0
    while size - 2 != length:
      integers.append(0)
      length += 1
    for i in range(length):
      a = arr[i]
      b = arr[i+1]
      c = arr[i+2]
      condition = (a+b > c)and(a+c > b)and(b+c>a) 
      if condition:
        integers[i] = 1
      else:
        continue
    return integers

Comprobamos el funcionamiento

In [7]:
solution([2,10,2,10,2,8,9,3])

[0, 1, 0, 0, 1, 1]

## Copiar datos especificos de una base de datos a otra en postgreSQL con SQLalchemy

Lo primero será instalar las librerias necesarias

In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg2

Instalamos los paquetes necesarios para el programa

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String, Boolean, ForeignKey 
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Declaramos los modelos de la base de datos, estos dependeran de como tengas estructuradas tus tablas.

In [ ]:
# Entidades fuertes
Base = declarative_base()

class Usuario(Base):
    """
    Clase de donde todos los usuarios heredan
    """
    __tablename__ = 'usuarios'
    id = Column(Integer, primary_key=True)
    
    # Login
    usuario = Column(String, unique=True, nullable=False)
    contrasena = Column(String, nullable=False)
    activo = Column(Boolean, default=True)

Creamos la primer sesión en la base de datos de la cual se extraeran los datos.

In [ ]:
DataBaseURL = 'postgresql://user:password@localhost:5432/database'
engine = create_engine(DataBaseURL)
Session = sessionmaker(engine)
sesison = Session()

Almacenaremos los datos en una lista, los datos se obtendran a traves de un query en este caso de las contraseñas, es importante conocer la cantidad de registros que se tendran pues sera necesario para cuadrar los datos.

In [ ]:
k = 1
cont = []
while k<579:
    a = sesison.query(Usuario.contrasena).filter(Usuario.id == k).one()
    a = str(a[0])
    b = a 
    cont.append(a)
    k +=1
print("Terminado")

Una vez teniendo los datos guardados en la lista 'cont' procedemos a iniciar la segunda sesión con la base de datos a donde se enviaran los datos actuales

In [ ]:
DataBaseURLD = 'postgresql://user:password@localhost:5432/otrabasededatos'
engineD = create_engine(DataBaseURLD)
SessionD = sessionmaker(engineD)
sesisonD = SessionD()

Finalmente para ingresar los datos en la nueva base los haremos empatar con el user.id con la posicion en la lista 'cont' esto sera haciendo que al id 1 se le asigne la posición 0 de cont

In [ ]:
Errores = []
k = 1
j = 0
while k<579:
    try:
        sesisonD.query(Usuario).filter(
            Usuario.id == k
        ).update(
            {
                Usuario.contrasena: cont[j]
            }
        )
        sesisonD.commit()
        #print("Seteo exitoso")
    except:
        Errores.append(k)
    k += 1
    j += 1

print(f"Los registros con error fueron: {Errores}")

### Crear y editar archivos de texto con python
Se lee un archivo con datos en la misma carpeta y crea un archivo por departamento con los cumpleañeros y sus fechas ordenados por fechas.

In [ ]:
archivo = open('datos.txt')

meses = {"01": "Enero","02":"Febrero","03":"Marzo","04":"Abril","05":"Mayo",
         "06":"Junio", "07":"Julio", "08":"Agosto", "09":"Septiembre",
         "10": "Octubre", "11":"Noviembre", "12": "Diciembre"}

Datos=[]
Dptos=[]
organ=[]
cumpleaños = {}
lineas = archivo.readlines()
for linea in lineas:
    linea = linea.split(";")
    fecha = linea[2]
    a = fecha.split('/')
    linea[2] = a
    Datos.append(linea)
for i in Datos:
    dpto = i[1]
    if dpto in Dptos:
        continue
    else:
        Dptos.append(dpto)

for j in Dptos:
    temp = []
    temp1 = [j]
    d = []
    for k in Datos:
        dep = k[1]
        if dep == j:
            d = [k[0],k[2]]
            temp.append(d)
        temp2 = sorted(temp,  key = lambda temp : temp[1])
        organ = {j:temp2}
    #print('-'*50)   
    #print(organ)
    cumpleaños.update(organ)
for keys in cumpleaños:
    print(f"Cumpleaños de {keys}")
    for clave in meses:
        u = meses[clave]
        z = 0
        for c in cumpleaños[keys]:
            c1 = c[1]
            mes = c1[1]
            dia = c1[0]
            nombre = c[0]
            if mes == clave:
                z += 1
                if z > 0 and z < 2:
                    print(f'Mes de {u}')
                print(f'{dia} se celebra el cumpleaños de {nombre}')
                print("#####################")
    print('-'*50)